@font-face {
  font-family: "iconfont"; /* Project id 4410419 */
  src: url('//at.alicdn.com/t/c/font_4410419_4v5pe7e93o.woff2?t=1705327764466') format('woff2'),
       url('//at.alicdn.com/t/c/font_4410419_4v5pe7e93o.woff?t=1705327764466') format('woff'),
       url('//at.alicdn.com/t/c/font_4410419_4v5pe7e93o.ttf?t=1705327764466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie1:before {
  content: "\ecac";
}

.icon-liuyanban:before {
  content: "\e602";
}

.icon-pinweishenghuo:before {
  content: "\e66d";
}

.icon-guanyuwomen:before {
  content: "\1010e";
}

.icon-xinlijiankang:before {
  content: "\e607";
}

.icon--yingpian-:before {
  content: "\e601";
}

.icon-danganku:before {
  content: "\1007d";
}

.icon-shuji1:before {
  content: "\100c9";
}

.icon-bilibili:before {
  content: "\e608";
}

.icon-shouye1:before {
  content: "\e674";
}

.icon-B--copy:before {
  content: "\e600";
}

.icon-yinlehe:before {
  content: "\e68b";
}

.icon-biaoqian:before {
  content: "\e693";
}

.icon-lianjie:before {
  content: "\e6dc";
}

.icon-fenlei:before {
  content: "\f7fd";
}

.icon-shijianzhou:before {
  content: "\e61b";
}

.icon-gengduo:before {
  content: "\e621";
}

.icon-youxi1:before {
  content: "\eb5c";
}
