@font-face {
  font-family: "iconfont"; /* Project id 4410419 */
  src: url('//at.alicdn.com/t/c/font_4410419_fka6ywotjw7.woff2?t=1705323850266') format('woff2'),
       url('//at.alicdn.com/t/c/font_4410419_fka6ywotjw7.woff?t=1705323850266') format('woff'),
       url('//at.alicdn.com/t/c/font_4410419_fka6ywotjw7.ttf?t=1705323850266') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e642";
}

.icon-bilibilidonghua:before {
  content: "\e8af";
}

.icon-shuji:before {
  content: "\e605";
}

.icon-dianying:before {
  content: "\e627";
}

.icon-vynil:before {
  content: "\e61f";
}

.icon-biaoqian:before {
  content: "\e693";
}

.icon-guanyu:before {
  content: "\eaf2";
}

.icon-aixin:before {
  content: "\e64b";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-dangan:before {
  content: "\e815";
}

.icon-lianjie:before {
  content: "\e6dc";
}

.icon-fenlei:before {
  content: "\f7fd";
}

.icon-shijianzhou:before {
  content: "\e61b";
}

.icon-shenghuo:before {
  content: "\100c6";
}

.icon-shouye:before {
  content: "\e620";
}

.icon-gengduo:before {
  content: "\e621";
}

.icon-youxi1:before {
  content: "\eb5c";
}
